@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

body {
  margin: 0;
  font-family: 'Space Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height:1;
  padding:1em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

td {
  padding-right: 1em;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.DEM {
  color: #00f;
}
.REP {
  color: #f00;
}
.LIB {
  color: #c80;
}
.GRN {
  color: #080;
}
table {
  padding-bottom: 1em;
}

.mode-test {
  color:#fa0;
}

.light {
  color:#eee;
}
.error {
  color:#f00;
}
